/* Добавил сброс стилей для моей страницы */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* 1 rem = 16 */
}

body {
    font-size: 1rem; /* Размер шрифта теперь в rem */
    line-height: 1; /* Высота строки */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Добавил нужный мне шрифт "Roboto" */
}

ol, ul {
    list-style: none;
}

/* Задал ширину блока */
.wrapper {
    width: 100%;
}

/* Задал позиционирование с помощью Flex */
.about>.wrapper,
.work>.wrapper,
.footer>.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Задал фон для блока projects и footer, а так же для кнопки */
.projects .wrapper,
.footer .footer-wrap,
.hero__btn {
    background: #34547A;
}
/* Задал нужный цвет для блока header и work */
.header .wrapper,
.work .wrapper {
    background-color: #eeeff1;
}

/* С помощью padding сделал отступ как на макете */
.header .wrapper {
    padding-top: 5%;
}

/* Задал внешний(margin) и внутренний(с помощью font-size) отступ */
.menu {
    margin: 0 0 10% 21%;
    font-size: 0;
}

/* Сделал ссылки строчно-блочными, вернул размер шрифта, добавил отступы между ссылками */
.menu .menu__item {
    display: inline-block;
    font-size: 1rem;
    margin-right: 3.8%;
}

/* Все буквы с становятся большими, убираю подчеркивание ссылок, цвет шрифта черный */
.menu>.menu__item>.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* При наведении ссылка меняет цвет и появляется подчёркивание */
.menu__item .menu__link:hover {
    color: #34547A;
    text-decoration: underline;
}

/* Задаю отступы, ширину и размер текста */
.hero__title {
    margin: 0 0 4% 21%;
    width: 28%;
    font-size: 3rem;
    font-weight: bold;
}

/* Задал отступы, размер кнопки, убрал подчеркивание и цвет, ведет себя как блочный и строчный элемент с помощью inline-block */
.hero__btn {
    margin: 0 0 12% 21%;
    display: inline-block;
    padding: 20px 41px;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

/* При наведении курсора кнопка меняет цвет, переход занимает 1 секунду */
.hero__btn:hover {
    background-color:#000000;
    transition: 1s all;
}

/* Выравнивание текста "Lorem" по центру, правильное расположение относительно блока */
.primary {
    width: 23%;
    margin: 0 auto;
    height: 3,5%;
    text-align: center;
}

/* Для текста сделал внешний отступ снизу и слева */
.hero__text {
    margin: 0 0 5% 21%;
}

/* Для текста сделал внешний отступ снизу */
.about__text {
    margin-bottom: 5%;
}

/* Для текста сделал внешний отступ снизу */
.work__text {
    margin-bottom: 2.8%;
}

/* Задал нужное мне расположение с помощью "Flex", текст становится белым */
.wrapper .projects__wrap,
.projects__wrap,
.projects__item,
.projects__description {
    display: flex;
    color: #FFFFFF;
}

/* Задал нужное расположение для иконок с текстом */
.wrapper .projects__wrap,
.projects__item {
    justify-content: space-around;
}

/* Задал нужное мне расположение для текста возле иконок */
.projects__description {
    justify-content: space-between;
    flex-direction: column;
    padding-left: 5%;
}

/* Задал внутренние отступы для увелечения блока */
.projects__wrap {
    padding: 5% 21%;
}

/* Для заголовка задал нужный размер, толщину, расположение в блоке */
.about__title,
.work__title {
    width: 21%;
    height: 2%;
    margin: 6% 39% 3%;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

/* Добавил позиционирование, теперь play__picture-wrap будет перемещаться относительно video-wrap, так же добавил нижний отступ */
.video-wrap {
    position: relative;
    margin-bottom: 5%;
}

/* Задал ширину и высоту видео, добавил отступы по бокам */
.video {
    width: 58%;
    height: 600px;
    margin: 0 21%;
}

/* Добавил позиционирование относительно моего relative, кнопка теперь поверх Youtube play */
.play__picture-wrap {
    position: absolute;
    top: 41.5%;
    left: 47.5%;
}

/* Основной цвет текста в footer теперь белый, с помощью padding сделал нужный мне размер блока */
.footer-wrap {
    padding: 2% 0 2% 21%;
    color: #FFFFFF;
}

/* Повысил толщину текста, отступ снизу, задал размер p в div */
.footer__text {
    width: 7%;
    margin-bottom: 1.5%;
    font-weight: 500;
}

/* Уменьшил шрифт, задал размер блока */
.footer__info {
    width: 11%;
    font-size: 0.7rem;
}