/* Добавил сброс стилей для моей страницы */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Добавил нужный мне шрифт "Roboto" */
}

ol, ul {
    list-style: none;
}

/* Задал ширину блока */
.wrapper {
    width: 100%;
}

/* Задал позиционирование с помощью Flex */
.about>.wrapper,
.work>.wrapper,
.footer>.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Задал фон для блока projects и footer, а так же для кнопки */
.projects .wrapper,
.footer .footer-wrap,
.hero__btn {
    background: #34547A;
}
/* Задал нужный цвет для блока header и work */
.header .wrapper,
.work .wrapper {
    background-color: #eeeff1;
}

/* С помощью padding сделал отступ как на макете */
.header .wrapper {
    padding-top: 5%;
}

/* Для списка меню задал позиционирование, ширину отступы */
.menu {
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin: 0 47% 10% 21%;
}

/* Все буквы с становятся большими, убираю подчеркивание ссылок, цвет шрифта черный */
.menu>.menu__item>.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* При наведении ссылка меняет цвет и появляется подчёркивание */
.menu__item .menu__link:hover {
    color: #34547A;
    text-decoration: underline;
}

/* Задаю отступы, ширину и размер текста */
.hero__title {
    margin: 0 0 4% 21%;
    width: 28%;
    font-size: 3rem;
    font-weight: bold;
}

/* Задал отступы, размер кнопки, убрал подчеркивание и цвет, ведет себя как блочный и строчный элемент с помощью inline-block */
.hero__btn {
    margin: 0 0 12% 21%;
    display: inline-block;
    padding: 20px 41px;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.hero__btn:hover {
    background-color:#000000;
    transition: 1s all;
}

.primary {
   width: 23%;
   margin: 0 auto;
   height: 3,5%;
   text-align: center;
}

.hero__text {
    margin: 0 0 5% 21%;
}

.about__text {
    margin-bottom: 5%;
}

.work__text {
    margin-bottom: 2.8%;
}

.wrapper .projects__wrap,
.projects__wrap,
.projects__item,
.projects__description {
    display: flex;
    color: #FFFFFF;
}

.wrapper .projects__wrap,
.projects__item {
    justify-content: space-around;
}

.projects__description {
    justify-content: space-between;
}

.projects__wrap {
    padding: 5% 21%;
}

.projects__description {
    flex-direction: column;
    padding-left: 5%;
}

.about__title,
.work__title {
    width: 21%;
    height: 2%;
    margin: 6% 39% 3%;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.video-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.video {
    width: 58%;
    height: 600px;
}

.footer-wrap {
    padding: 2% 0 2% 21%;
    color: #FFFFFF;
}

.footer__text {
    width: 7%;
    margin-bottom: 1.5%;
    font-weight: 500;
}

.footer__info {
    width: 11%;
    font-size: 0.7rem;
}